# Google Apps Script Configuration
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzExvIQYIRie4-NB3UVqjpZyuXlDEpONI8OBjTSr7TdsxZXRBvlE-4tR23gBUaWOW1O/exec
VITE_GOOGLE_DRIVE_FOLDER_ID=1nvvnnTuZfMi0exesQvu4554zGVa5WO32
